/.vscode
/AtmoPackUpdater.elf
/AtmoPackUpdater.nacp
/AtmoPackUpdater.nro
/AtmoPackUpdater.lst
/build
/amssu-rcm/build/ams_rcm
/amssu-rcm/output
amssu-forwarder/amssu-forwarder.elf
amssu-forwarder/amssu-forwarder.nacp
amssu-forwarder/build/amssu-forwarder.map
amssu-forwarder/build/amssu-forwarder.lst
amssu-forwarder/build/main.d
amssu-forwarder/build/main.o
amssu-forwarder/amssu-forwarder.nro
